.title {
    display: block;
    background-color: gainsboro;
    color: darkorange;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 50px;
}

h2 {
    margin: 0;
}

.formulario {
    display: grid;
    grid-template-areas: "ide ide" 
                        "nombre apellido" 
                        "correo celular" 
                        "boton boton" 
                         "boton2 boton2" 
                          "table1 table1";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,auto);
    grid-column-gap: 0px;
    color: darkorange;
    grid-row-gap: 0px;
}

.ide {
    grid-area: ide;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.nombre {
    grid-area: nombre;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.apellido {
    grid-area: apellido;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.correo {
    grid-area: correo;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.celular {
    grid-area: celular;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.boton {
    grid-area: boton;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.boton2 {
    grid-area: boton2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.table1 {
    grid-area: table1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#Button1 {
    background-color: transparent;
    color: darkorange;
}

#Button1:hover {
    background-color: darkorange;
    color: white;
    cursor: pointer;
}

th {
    padding: 0.2rem 4rem;
}

tbody {
    text-align: center;
}

th {
    text-align: center !important;
}

td {
    text-align: center !important;
}